# ignore all folders
document_folder/
output/
temp_folder/
__pycache__/
output2/

# ignore testing files
test_out.py

# txt files to ignore
secret_info.txt

# ignore secret info extractor
info_withdrawl.py


.env
csv_files/final_report_details.csv

gym_1_net_sol_limitless_step1.csv
youtube_caption_task/.env
captions_collected.csv
captions_collected_with_summary.csv
youtube_caption_task/proxy_server_activation.py